<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="/style/css/replay.css" type="text/css">
<link rel="stylesheet" href="/style/font-awesome/css/font-awesome.min.css" type="text/css">   
</head>
<body>
    <div id="wrapper">
    <!-- 头部 -->
   {template "content","top"} 
	<!-- 头部结束 -->

<!--主要内容--->
<div class="content w-1000">
<div id="slideBox" class="slideBox">
			<div class="hd">
				<ul><li></li><li></li><li></li></ul>
			</div>
			<div class="bd">
				<ul>
					<li><a href="#"><img src="/style/picture/pm-1.jpg" /></a></li>
					<li><a href="#"><img src="/style/picture/pm-1.jpg" /></a></li>
					<li><a href="#"><img src="/style/picture/pm-1.jpg" /></a></li>
				</ul>
			</div>
		</div>
  <div class="txtScroll-top">
			<div class="bd">
				<ul class="infoList">
				<li><a href="#">已有00120位学生获取选校报告！38秒前,刘同学 181****1159挑选3家留学机构进行评估</a></li>
				<li><a href="#">口语：会说中文就能说英语！</a></li>
				<li><a href="#">农场摘菜不如在线学外语好玩</a></li>
				<li><a href="#">数理化老师竟也看学习资料？</a></li>
			    <li><a href="#">学英语送ipad2,45天突破听说</a></li>
				<li><a href="#">学外语，上北外！</a></li>
				<li><a href="#">那些无法理解的荒唐事</a></li>
				</ul>
			</div>
		</div>
<!--当前位置-->
<div class="weizi">
<p>当前位置：<a href="index.html">Qu去留学首页</a> > <a href="ranking.html">大学排名</a></p>
</div>       
<!--左侧-->
<div class="p-left">
<div class="p-leftnr">
<div class="nr-box">
<h1>哈佛大学</h1>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
<p>哈佛大学是全美第一所大学，同时是常藤盟校园之一。美国独立战争以来的大量的革命先驱都出自于哈佛的门下。哈佛大学被誉为美国政府的思想库。这里先后诞生了八位美国总统，40位诺贝尔奖得主和30位普利策奖得主。</p>
</div>
</div>
</div>
<!--右侧-->

<div class="p-right">
<div class="an-7">
<ul>
<li class="active"><a href="#"><i class="icon-caret-right"></i>世界大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>美国大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>英国大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>澳洲大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>加拿大大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>香港大学排名</a></li>
<li><a href="#"><i class="icon-caret-right"></i>新加坡大学排名</a></li>
</ul>
</div>
<div class="imgbox"><img src="/style/picture/600.jpg" /></div>
</div> 
<div class="clear"></div>
</div>
<!--尾部版权-->
{template "content","bot"} 


<!--遮罩层-->
<div class="brg"></div>
<div class="float_login">
<a href="#" class="close1  close">关闭</a>
<h2 class="b_b">用户登录</h2>
<div class="login_box">
<p class="username">注册邮箱：<input type="text" class="inputname" name="username" ></p>
<p class="p1">输入您在“Qu去留学”上注册的Email</p>
<p class="password">密码：<input type="password" class="inputpassword" name="password" ></p>
<p class="p1">输入您的密码</p>
<p class="btn"><input name="comment_btn2" type="button" value="登录" class="subscribe_btn close"/>忘记密码？</p>
<p class="p2">没有注册？立即登录</p>
</div>  
</div>
<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/style/js/search.js"></script><!--搜索-->
<script type="text/javascript" src="/style/js/cover.js"></script><!--遮罩层-->
<script type="text/javascript" src="/style/js/jquery.SuperSlide.js"></script><!--消息滚动-->
<script type="text/javascript">
jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,delayTime:700});
</script>
</body>
</html>
