林心如1日在脸书发文时，罕见主动晒出相当明显的6个月孕肚照，一袭灰色连身长裙、侧躺在“白色巨猫”旁露出圆滚滚的孕肚，许多粉丝首次看到她飘散出浓浓孕味的照片当下都十分兴奋，没想到事隔不到半天，她立即删除孕肚较为明显的一张照片，让大家心里都很纳闷。
对此，有许多网友猜测林心如之所以这么做，绝对另有隐情，怀疑是否跟之前遭霍建华粉丝网络霸凌有关，因为男方粉丝一直在网上瞎曝她是利用孩子逼婚、炒作、甚至诅咒胎儿不保等酸言酸语，所以才决定快快删照，免得再引起更多不必要的纷争。然而，林3日也在该则贴文的留言透露事实并非如此，“纯粹是因为想要保护我那圆滚滚的小肚肚所以删照，没别的事啦”，这才让粉丝放心不少，不过也有许多网友心疼安慰她，“我们都爱你的小肚肚，别委屈自己的快乐”、“不用理会那些无聊的人”，掀起大家热烈讨论。

11月30日电 记者从黑龙江省安全生产监督管理部门了解到，29日21时许，黑龙江省七台河市茄子河区一家地方煤矿发生火灾事故，22名矿工被困井下。

　　记者从七台河市事故抢险指挥部了解到，此次事故已初步认定为瓦斯爆炸事故。经核查，该煤矿是隶属于七台河市茄子河区管辖的民营煤矿，是资源整治整合拟保留的主体矿井，目前尚未经过市、区两级政府验收，属于违法违规生产。目前，七台河市公安部门已经对事故煤矿的矿主、矿长和相关责任人等进行控制。

　　据七台河市煤管局副局长刘兴安介绍，事故发生后，七台河市立即启动应急救援预案，成立救援指挥部，抽调技术专家和骨干力量百余人进行全力救援。目前火源已经扑灭，正在加强有毒气体检测。井下救灾电话已铺设接通，救援队沿主井下井继续勘察，展开被困矿工搜寻。

2014年1月，湖南省张家界市桑植县一年级学生张小宝因车祸住院输血，随后辗转长沙、上海等地医院诊疗，在2015年7月被确诊感染艾滋病毒。在排除了母婴传播、性传播等途径后，张小宝的母亲李敏怀疑问题就出在救治环节。
但相关的5家单位都不认可小宝感染艾滋病与其有关。
沟通未果，李敏母子走上诉讼之路，向张家界市人民医院、张家界中心血站等五家单位索赔115万余元。
2016年10月18日，张家界永定区法院一审判决，该案无法判断各被告的责任大小，五被告平均承担40余万元。
目前，五家单位均提出上诉，李敏也以一审判决赔偿过低为由上诉。
在整个调查过程，不同当事单位对事件的认定与还原，与日本已故导演黑泽明名作《罗生门》有颇多相似之处。
十平米的屋子，大门和窗户朝着幽暗的走廊，窗户上五彩的玻璃透出暗光。
39岁的李敏坐在床边看着儿子发呆。
10岁的男孩张小宝，艾滋阴影还没有显现在他幼稚的脸庞。他似懂非懂，按照妈妈嘱咐的“少和别人接触”，乖乖地躺在床上一个星期了，没有到屋外去玩耍。
他醒来的第一件事情就是打开搁在枕边的DVD电视一体机，熟练操作按钮，碟片飞转，发出唰唰的声音，光线在他的脸上变幻。
每天的日子如此雷同。现在，李敏想的更多的是上诉的事情，她看不懂判决书，只有胡思乱想，想多了头痛，就吃一颗镇痛片。
她脸上总带着没有睡醒的疲倦，眼皮发肿，脸庞木讷，说话的时候低着头；她描述这间屋子如同他们的命运，分不清白天黑夜，在张家界这座著名的旅游城市里，活得像两只蚂蚁。
“天上掉下的艾滋病”
李敏与丈夫张某在1998年结婚，1999年大儿子出生，张小宝在2006年出生。
夫妻俩都是小学毕业，家里有1亩2分田，收成不好，就一直在外打工，一年可以挣4万余元。
张小宝是李敏在浙江打工时生的，“出生时皮肤好，光滑，像个小女孩。”
李敏请人为小宝算过命，她记得算命先生的话，如果灾难挺过去了就不是一般人。
“没想到灾难这么大，老天爷这个玩笑太大了”。她说。
2012年张小宝回到桑植老家读书。成为了留守儿童，和奶奶住在一起。
他在村小读书，学校到家不过1公里。2014年1月3日下午4点半，放学后的张小宝在一处上坡转弯处，被一辆拉满石料的拖拉机撞伤。
经鉴定，张小宝尿道断裂，直肠会阴损伤，盆骨骨折，重伤二级。
李敏介绍，张小宝被送到了桑植县医院包扎，当天送往张家界人民医院救治。
病历记录显示，入院前，张小宝无外伤史，手术史，输血史。2014年1月4日的检验报告单显示血清样本的检测项目“人免疫缺陷病毒抗体”结果为“阴性”，意味着张小宝未检查出艾滋病。
张家界人民医院给张小宝做了手术，1月4日、5日，医院两次为张小宝输入四袋O型RH阳性血，血液分别来自四名献血者，血液均由张家界中心血站提供。
第二次输血的时候，李敏已从外地赶回医院，目睹了儿子输血的过程，“血液深红色，装在像葡萄糖输液袋一样的袋子里”。
护士还给张小宝输入了人血白蛋白，生产厂家为山东泰邦生物制品有限公司。
此后，为了尿道和直肠修复，李敏带着小宝先后在张家界市人民医院、湖南省儿童医院、上海交通大学医学院附属仁济医院南院做手术治疗。
按张家界市卫计委事后统计，除2014年1月因车祸入院外，自2014年4月至2015年6月期间，患儿先后到湖南省儿童医院住院1次、张家界市人民医院住院3次、上海交通大学医学院附属仁济医院南院住院3次，并在长沙、上海等地接受手术。
2015年6月29日，张小宝第四次入住张家界人民医院，医生对张小宝进行人体免疫缺陷病毒抗体检查结果为待复查。
李敏回忆，当时医生把她叫到办公室，表情略显紧张，悄悄跟她说小宝可能感染了艾滋病，要到省疾控中心去确认。
这个结果像一记重锤砸在李敏头上，李敏蹲下哭了很久站不起来。接下来的一个星期没吃过两顿饭。
7天以后，经省疾控中心确证，结果为HIV-1抗体阳性（+），意味着张小宝确实感染了艾滋病。
“天都要塌了，活不下去了。”李敏说，“这就是天上掉下来的病。儿子发生了车祸才捡回一条命，没想到又感染了更可怕的病。”
5家单位均称没有责任
到底是在哪个环节让张小宝感染上艾滋病？
李敏了解到艾滋病感染途径有三种，血液传播、母婴传播、性传播。
她和小宝爸爸做了筛查，为阴性合格。孩子还小，不可能有性行为。排除了这两项传播途径，李敏认为，问题肯定出在血液上。
她最先找了张家界人民医院，医院的医生跟她说，不应该找他们，该院每次手术所用器械均严格执行消毒标准，因此不可能在该院手术环节感染艾滋病。好比在城市的超市买东西，买到假货要找厂家，血液问题要找血站。
2015年7月17日，张家界血站向家属提供了一份“关于张某输血有关情况的调查报告”（以下简称报告），结论是“本站认为，现可排除该患者经本次输血感染HIV的可能性”。
报告显示，张家界中心血站成立了由业务站长任组长的调查组，采血科查询4名献血者资料，献血者身份信息登记正确，与献血者一致，不存在冒名顶替情况，献血者资料采写规范，签名完全，采血、交接等核对无误。
张家界中心血站站长余刚宝介绍，献血之前先填征询表，分给献血者唯一的条形码，初筛乙肝、血型、梅毒等，并体检，将血液拿回检测，合格入库，不合格报废。
采血量一般是200至400ml，一般化验的样本为两个5毫升试管的剂量，留样保存在类似于输液管一样的管子里，叫血辫，血站留10公分约2毫升样本，根据法律规定，保存血辫的时间为这袋血输血后的两年时间。
报告称，血站检验科查询并复查了4名献血者的血液标本，为阴性合格，取4名献血者当次献血保存的血辫标本，重新检测，结果为阴性。
新京报记者获取了一份献血者历次献血血液去向表显示，输给张小宝血液的献血者分别为代某、覃某、汪某、朱某。
余刚宝介绍，代某和覃某在输血给张小宝后，没有再献血。2015年7月14日、15日血站联系两人现场采血，核查为阴性合格；汪某、朱某在输血给张小宝后，还再次献过血，血液为阴性合格，所以暂无必要追溯献血者本人再次采样复查。
近四年中，四名献血者除汪某献血三次之外，其余每人都献血两次。血液供给长沙、张家界市的医院，血液被制作成血浆、红细胞、血小板，输给了12人。
对于张家界中心血站的调查报告，小宝家人并不认同。他们认为血站自证清白毫无意义，即使血站提供证据也没有证明效力，不排除移花接木，血液标本调换的可能。
北京大学医学部卫生法学教研室主任王岳认为，根据《医疗事故处理条例》，血站自查最起码要在行政机关或司法机关的主持下进行，因为出现这种纠纷血样是要封存的，如果导致标本破坏没法查，责任要归结于私自检查的机构。
此外，湖南省儿童医院和上海交通大学医学院附属仁济医院南院以及山东泰邦生物制品有限公司均表示，没有责任。
沟通无果，2015年9月，张小宝一家将张家界市人民医院和张家界市中心血站诉至法院。
在起诉阶段，小宝父母追加起诉了湖南省儿童医院、上海交通大学医学院附属仁济医院以及人血白蛋白生产厂家山东泰邦生物制品有限公司，向5被告索赔115万余元。
互相矛盾的检查结果
张小宝的律师郭建美说，在法院审理的质证阶段，除了不认可血站“自证清白”，他们还发现了其他被告之间的不少问题。
郭建美说，湖南省儿童医院向法院提交的张小宝住院病历资料中，住院记录显示，2014年4月23日，查出艾滋病病毒抗体待复查，建议其至相关有资质的医院进一步确诊。
李敏回忆，2014年4月22日，她带着张小宝到湖南省儿童医院进一步治疗。在医院只抽查了血液，由于需要一个星期才能拿检查结果，为了节约开支，他们2天后就走了，儿童医院也没有任何人告知她诊断情况。
郭建美说，这意味着，在2015年6月29日，张小宝在张家界人民医院就诊检查艾滋病为待复查一年前，就已经发现艾滋病问题了，只是家属并不知情。
湖南省儿童医院安全办主任彭国强承认，出院记录上一般要书面告知家属的，湖南省儿童医院的瑕疵在于仅在住院记录上把检查出艾滋病待复查事项写进去了，没有在出院记录上书面告知。
“如果告诉我，我就会问病情，肯定要去复查，不会拖了那么久，现在的被动就是儿童医院未告知造成的。”李敏说。
蹊跷的是，在湖南省儿童医院治疗后不到两个月，张小宝于2014年6月10日第二次入住张家界人民医院，6月11日检查艾滋病病毒抗体为阴性合格。这与省儿童医院两个月前的待复查结果相矛盾。
张家界人民医院安全办主任唐承银解释，可能由于检测时，对抗体产生的时间不一样，或者对试剂的敏感度不一样，有假阳性的可能，医院不能作为确诊的依据，必须要到疾控中心去确诊。
此外，李敏发现，张家界人民医院的这张报告单打印时间为2015年7月16日，距2014年6月11日的检测结果出炉日期已过了一年多。
唐承银解释，当时的报告单有可能没装订，或者搞丢了。
李敏认为，不排除医院造假的可能，“报告单为什么和儿童医院的报告矛盾，为什么又偏偏丢失了？”
郭建美说，对上海交通大学医学院附属仁济医院南院来说，小宝曾在2014年9、10月及2015年3月三次入住就诊，然而医院并未在手术前做艾滋病毒抗体的检测。而根据卫生部颁布的《临床输血技术规范》，对有输血史的患者必须作抗体筛选试验。
鉴定难题
今年8月，李敏向湖南省卫计委递交报告，要求对张小宝感染艾滋进行彻查。
根据原告的申请，张家界市永定区人民法院于2016年1月11日依法委托某司法鉴定中心对张小宝在哪个医疗环节感染了艾滋病毒，损害后果与医疗机构是否存在关联性、终身抗病毒治疗费用以及劳动能力等进行鉴定，该鉴定中心在阅读送检材料后，认为根据现有材料难以做出具体的鉴定意见，不予受理。
2016年4月12日，张家界血站对四个血样是否为献血者的血液及艾滋病抗体进行鉴定，因四位献血者拒绝采取血样，鉴定无法进行。
由于保存该四人血样的为短细管，不易转入试管，为避免血样由于在此转管遭破坏，湖南省疾控中心拒绝检验。
张家界血站站长余刚宝解释，短细管就是血辫，目前，四名献血者的血辫还剩3、4公分长，大概是不到1毫升，此前做内部调查时用掉了一部分，到目前为止标本是封存的。
常德市中心血站副站长朱志斌介绍，样本留存，在各个血站都不一样，有的留在试管中，有的留在血辫中，常德市血站留存的样本更少，大约1毫升。
朱志斌分析，标本开盖之后容易污染，哪怕很微量的污染在核酸实验中也会放大几亿倍，可能造成阳性的结果，而恰恰张家界中心血站自查时就开盖检测了，也用掉了一些样本，计量变少，也可能影响检测结果，这可能是相关机构拒绝检测的原因。
而是否能对献血者进行强制检查，国内未有法律规定。
张家界中心血站站长余刚宝认为，要从保护献血者角度去考虑，如果以后碰到输血纠纷都去找献血者，谁来献血？这对无偿献血肯定有影响。
《献血法》修订专家稿主要起草人、北京大学卫生法学研究中心主任、北大法学院教授孙东东对新京报记者表示，不管是法官还是医疗机构，追查献血者在法律上没有依据，比如说献血者献血时如果没有感染，献血后感染了，也不能说明他上次献血有问题。
张家界卫计委医政管理科科长彭旭表示，卫计委要求血站进行自查，未发现有输血感染艾滋病问题。目前司法途径启动后，行政不能干预司法，因此暂停了调查。
一审判决
2016年10月18日，张家界永定区法院做出一审判决。判决书称，本案适用举证责任倒置，如果各被告不能举证证明小宝感染与其无关，则应推定小宝感染艾滋病毒与其有关。其中，张家界血站作为小宝提供血液的单位，并未提供证据证实对小宝所用的血液不携带有艾滋病毒。
对于张家界市人民医院，法院认为，该医院作为医疗机构，非血液的制造人，其责任是对血液的有效期、型号进行核对，但其并未提交证据证实血液的有效期、型号进行核对，因此没有尽到核查责任，在诊疗过程中具有过错。湖南省儿童医院未提交证据证实医疗过程中所使用的医疗器械是否进行严格消毒，另外该医院检测出小宝的艾滋病抗体待复查后，既没有告知原告到权威机构进行复查，也没有向卫生行政主管部门申报，因此在诊疗过程中存在过错。
上海仁济医院在给小宝做尿道手术之前，没有给其做相关的血液检测，违反了相关诊疗规定。山东泰邦公司虽向法院提交证据其血液制品合格，但未提供证据证实小宝使用血液制品不携带艾滋病毒。综上，法院一审判决5被告共同赔偿精神损害抚慰金和护理费共计40万余元，各被告承担20%赔偿责任，即各被告赔偿8万余元。
五名被告均提起了上诉。
小宝父母也不服判决，向法院提起上诉。
综合五名被告的上诉书，共同诉求是，要求二审法院追根溯源，查清艾滋病感染源，其次，一审法院责任划分不当，不能同等分担责任。
11月23日，永定区法院办公室主任李国胜以案件需要向上级机关报备，以及案件还在二审为由，拒绝了采访。
北京大学医学部卫生法学教研室主任王岳认为，这起判例依据《民法通则》的公平原则，在各方均无过错的情况下，由有可能制造危险的各方均摊这个责任结果，公平原则主要的法理是不能让受害者哭泣。
艾滋病像魔鬼
住在张家界一间出租屋的小宝，并不知道自己的病情引起了轩然大波。
“什么是艾滋病，这个病治不治得好？”
张小宝跟妈妈说：“如果用古代的武功能治就好了”。
他也总是问李敏，什么时候回家，这里住的太小，太黑，没电视看。
陪伴他的是一台微型DVD一体机，是2014年买的，为了哄孩子打针，李敏花400元在街头买了一个。
碟片是小宝最亲密的伙伴。他有时用手指放进碟片中间的小洞，转动碟片飞快旋转；有时又安静地躺着，对着碟片反光的一面打量自己；有时用透过两只碟片的小孔，朝着母亲做鬼脸。
时间沉淀，艾滋在悄然改变这个男孩。
他变得不爱说话，以前总喜欢跟妈妈说上学的趣事，现在做了噩梦把自己吓醒，也不会告诉妈妈；他的话语里多了否定词汇，以前喜欢说自己的理想是当医生和警察，现在干脆回答“没有理想”；以前在妈妈面前用普通话背课文，现在操着一口张家界方言说：“我忘了怎么说普通话了。”
今年上半年的时候，张小宝只有42斤，一天到晚拉肚子。李敏买了一堆止泻药，到市里看病或出门，就给小宝裤子里垫了尿不湿。
她后来才知道这是艾滋病潜伏期。
治病欠了4万多元外债。为了多一个人挣钱，读初一的哥哥也辍学了，跟着父亲在外打工。
自确诊感染艾滋后，李敏带着张小宝住在村里，保密了一年。
她嘱咐小宝要一个人玩，不要和其他孩子追逐打闹。只要小宝出去玩，李敏也如影随形。
如果碰到小孩来家里玩，李敏像猫捉老鼠一样紧紧盯着。
今年8月媒体报道后，小宝感染艾滋的事情传遍了全村。
村民如临大敌，让李敏一家不要再回村里。
李敏说，此后，小宝就辍学了，校长说最好不要回来上学，如果回来，学校的学生就会走光。
李敏搬到了张家界市里，租了间房，自己带小宝。
有好心人帮她打听了一所山西的红丝带学校，但每个月1600元学费，李敏承受不起。她希望找一所可以承受的学校，在外面租个房子，找一份工作，和儿子一起过。
“艾滋病像一个魔鬼放在身上，跑不了，拿不掉，折磨你。” 李敏一只手摁着太阳穴说，“但他永远是我儿子，什么时候都不抛弃，否则他就没有活下去的勇气了。”