<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="/style/css/school.css" type="text/css">
<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script> 
<link rel="stylesheet" href="/style/font-awesome/css/font-awesome.min.css" type="text/css"> 
</head>
<body>
    <div id="wrapper">
    <!-- 头部 -->
   {template "content","top"}
	<!-- 头部结束 -->
<!--院校搜索上部-->
<div class="reporttitle">
<h2>文书商城</h2>
</div>
<!--主要内容--->
<div class="content w-1000">
<!--文书商城-->
<div class="jbox">
<!--第一部分-->
<div class="j-1">
<div class="ydh">留学申请的关键是申请者竞争力的提升，竞争力体现在出国考试成绩、软性背景实力、文书质量三大方面，对于分数相当的申请者，软性背景实力和文书质量成为能否冲击名校的关键因素。去留学网文书商城为申请者推荐含金量高的软背景提升项目和文书定制服务。</div>
<div class="jlist">
<div class="box"><a href="{$CATEGORYS[12]['url']}&dingzhi=1"><script language="javascript" src="{APP_PATH}caches/poster_js/14.js"></script></a></div>
<!--<div class="box"><a href="{$CATEGORYS[11]['url']}">背景提升项目</a></div> -->
<div class="box">

    <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {pc:get sql="SELECT * FROM qu_freebanner a,qu_freebanner_data b where a.id=b.id and a.catid= '36' ORDER BY a.inputtime DESC"  cache="3600"  num="6" return="data"}
          
          {loop $data $key $val}
          <li></li>
          {/loop}
          {/pc}
        </ul>
      </div>
      <div class="bd">
        <ul>
          {pc:get sql="SELECT * FROM qu_freebanner a,qu_freebanner_data b where a.id=b.id and a.catid= '37' ORDER BY a.inputtime DESC"  cache="3600"  num="6" return="data"}
          {loop $data $key $val}
          <li><a href="{$val['url']}"><img src="{$val['thumb']}" alt="{$val['title']}" /></a></li>
          {/loop}
          {/pc}
        </ul>
      </div>
    </div>       
        
</div>
<div class="box"><a href="{$CATEGORYS[12]['url']}&dingzhi=2"><script language="javascript" src="{APP_PATH}caches/poster_js/15.js"></script></a></div>
<!--<div class="box"><a href="{$CATEGORYS[12]['url']}">留学产品定制</a></div> -->
<div class="box">
 <div id="slideBox" class="slideBox">
      <div class="hd">
        <ul>
          {pc:get sql="SELECT * FROM qu_freebanner a,qu_freebanner_data b where a.id=b.id and a.catid= '37' ORDER BY a.inputtime DESC"  cache="3600"  num="6" return="data"}
          
          {loop $data $key $val}
          <li></li>
          {/loop}
          {/pc}
        </ul>
      </div>
      <div class="bd">
        <ul>
          {pc:get sql="SELECT * FROM qu_freebanner a,qu_freebanner_data b where a.id=b.id and a.catid= '36' ORDER BY a.inputtime DESC"  cache="3600"  num="6" return="data"}
          {loop $data $key $val}
          <li><a href="{$val['url']}"><img src="{$val['thumb']}" alt="{$val['title']}" /></a></li>
          {/loop}
          {/pc}
        </ul>
      </div>
    </div>      
</div>
</div>
</div>
      <!--第三部分-->
      <div class="j-2">
        <h1><span class="s1"><a href="{$CATEGORYS[12]['url']}">热门留学产品</a></span><span class="s2"><a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=12&dingzhi=1">文书创作</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=12&dingzhi=2">文书修改</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=12&dingzhi=3">网申手续</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=12&dingzhi=4">签证办理</a></span></h1>
        <div class="ydh">去留学网定制留学产品部分为DIY留学申请者提供灵活的多样的留学申请服务，文书定制由去留学网资深文案团队、第三方机构或资深顾问个人提供，申请者可以了解各方实力，结合个人的需要定制留学产品。</div>
        <div class="jlist">
          <ul>
           {pc:get sql="SELECT * FROM qu_chanpin a,qu_chanpin_data b WHERE a.id=b.id ORDER BY a.inputtime DESC" cache="3600"  num="4" return="data"}
            {loop $data $key $val}
            <li><a href="{$val['url']}"><img src="{$val['thumb']}"/>
             </p>
              <span class="caption full-caption">
             <h3>{str_cut($val['title'],28)}</h3>
              <p>{str_cut($val['description'],200)}...</p>
              </span> </a> </li>
                {/loop}
              
               {/pc}  
          </ul>
        </div>
      </div>
      
	<!--第二部分-->
 		<div class="j-2">
        <h1><span class="s1"><a href="{$CATEGORYS[11]['url']}">热门背景提升项目</a></span><span class="s2"><a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=11&leixing=4">名企实习</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=11&leixing=3">比赛竞赛</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=11&leixing=2">实践项目</a>|<a href="{siteurl($siteid)}/index.php?m=content&c=index&a=lists&catid=11&leixing=1">交流交换</a></span></h1>
        <div class="ydh">背景提升项目展现了对申请者有价值的多个实践项目、商业比赛、交流交换等信息，想要提升申请背景的申请者可以咨询去留学网老师的专业意见，提前规划和参与有价值的背景提升项目。</div>
        <div class="jlist">
          <ul>
      
          
          
           {pc:get sql="SELECT * FROM qu_xiangmu a,qu_xiangmu_data b WHERE a.id=b.id ORDER BY a.inputtime DESC" cache="3600"  num="4" return="data"}
            {loop $data $key $val}
            <li><a href="{$val['url']}"><img src="{$val['thumb']}"/>
              
              <span class="caption full-caption">
              <h3>{str_cut($val['title'],28)}</h3>
              <p>{str_cut($val['description'],200)}...</p>
              </span> </a> </li>
                {/loop}
              
               {/pc}
           
          </ul>
        </div>
      </div>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<!--尾部版权-->
{template "content","bot"}
<!--遮罩层-->
{template "content","login"}

<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/style/js/search.js"></script><!--搜索-->
<script type="text/javascript" src="/style/js/cover.js"></script><!--遮罩层-->
<script type="text/javascript" src="/style/js/jquery.SuperSlide.js"></script><!--轮播图-->
<script type="text/javascript">
jQuery(".slideBox").slide({mainCell:".bd ul",effect:"leftLoop",autoPlay:true});
$(".j-2 .jlist ul li:eq(3)").css("marginRight","0px");	
$(".j-2 .jlist ul li:eq(7)").css("marginRight","0px");	
</script>
</body>
</html>
