<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<?php
     $jiamian="9";
 ?>
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="/style/css/search.css" type="text/css">
<link rel="stylesheet" href="/style/font-awesome/css/font-awesome.min.css" type="text/css">
</head>
<body>
<div id="wrapper"> 
 <!-- 头部 --> 
  {template "content","top"} 
  <!-- 头部结束 --> 
  <!--院校搜索上部-->
  <div class="reporttitle">
    <h2>院校搜索</h2>
  </div>
  <!--主要内容--->
  <div class="content w-1000">
    <div class="sebox"> 
      <!--左侧-->
      <div class="s-left">
        <div class="s-1">
          <div class="imgbox"><a href="#"><img src="/style/images/fz.png" /></a></div>
          <h2>院校搜索</h2>
          <p>国内最大的留学院校</p>
          <div class="clear"></div>
        </div>
        <!--第二部分-->
        <p class="cxss"><a href="#">[ 重新查询 ]</a></p>
        <div class="s-2">
          <div class="advance-search" style="margin-bottom: 15px;">
            <form id="searchForm2" action="" method="GET" target="_self" style="padding:0px; margin:0px;">
              <input name="m" value="content" type="hidden">
              <input name="c" value="index" type="hidden">
              <input name="a" value="lists" type="hidden">
              <input name="catid" value="22" type="hidden">
              <input name="q" value="" type="hidden">
              <input name="q2" value="" type="hidden">
              <input name="start" value="" type="hidden">
              <input name="end" value="" type="hidden">
              <div class="bd_top_list advance-search-box"> <span class="bd_top_list_span">国家：</span>
                <ul>
                  <a class="bd_top_list_a" data-type="country_id" data-value="0" href="javascript:;">全部</a> <a class="bd_top_list_b" data-type="country_id" data-value="1" href="javascript:;">美国</a> <a class="bd_top_list_b" data-type="country_id" data-value="2" href="javascript:;">英国</a> <a class="bd_top_list_b" data-type="country_id" data-value="6" href="javascript:;">加拿大</a> <a class="bd_top_list_b" data-type="country_id" data-value="3" href="javascript:;">澳大利亚</a> <a class="bd_top_list_b" data-type="country_id" data-value="5" href="javascript:;">新加坡</a> <a class="bd_top_list_b" data-type="country_id" data-value="7" href="javascript:;">香港</a>
                </ul>
                <div style="margin-top: 20px;"> <span class="bd_top_list_span">排名：</span> <span class="max-ranking" data-options="201"></span> <span class="min-ranking" data-options="1"></span>
                  <ul>
                    <div class="rk">
                      <div class="slider-bar-start">1名</div>
                      <div class=" slider-bar-end">201名</div>
                      <div class="ui-rangeSlider ui-rangeSlider-noArrow" id="range-slider" data-start="1" data-end="201" style="width: 408px; margin-left: 35px; position: relative;">
                        <div style="position: absolute; width: 408px;" class="ui-rangeSlider-container">
                          <div style="position: absolute; top: 0px; left: 0px; width: 396px;" class="ui-rangeSlider-innerBar"></div>
                          <div class="ui-rangeSlider-bar" style="position: absolute; top: 0px; width: 408px; left: 0px;"></div>
                          <div class="ui-rangeSlider-handle ui-rangeSlider-leftHandle" style="position: absolute; top: 0px; left: 0px;">
                            <div class="ui-rangeSlider-handle-inner"></div>
                          </div>
                          <div class="ui-rangeSlider-handle ui-rangeSlider-rightHandle" style="position: absolute; top: 0px; left: 390px;">
                            <div class="ui-rangeSlider-handle-inner"> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
                <div style="clear:both;height:10px;"></div>
                <span class="bd_top_list_span">学位：</span>
                <ul>
                  <a class="bd_top_list_b" data-type="degree" data-value="0" href="javascript:;">全部</a> <a class="bd_top_list_b" data-type="degree" data-value="1" href="javascript:;">本科</a> <a class="bd_top_list_b" data-type="degree" data-value="2" href="javascript:;">硕士</a> <a class="bd_top_list_b" data-type="degree" data-value="3" href="javascript:;">博士</a>
                </ul>
                <div style="clear:both;height:10px;"></div>
                <span class="bd_top_list_span">专业：</span>
                <ul style="padding:0px 12px;width:85%" class="major-item">
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="1" href="javascript:;">商科 （4452个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（4452个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="8" href="javascript:;">金融 （767个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="4" href="javascript:;">管理学 （568个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="2" href="javascript:;">工商管理 （558个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="9" href="javascript:;">市场营销 （465个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="7" href="javascript:;">会计 （462个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="13" href="javascript:;">人力资源管理 （337个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="12" href="javascript:;">管理信息系统 （270个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="10" href="javascript:;">酒店/旅游管理 （203个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="6" href="javascript:;">国际商务 （200个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="5" href="javascript:;">供应链管理 （136个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="11" href="javascript:;">奢侈品管理 （126个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="3" href="javascript:;">创业学 （104个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="14" href="javascript:;">房地产 （101个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="16" href="javascript:;">商业分析 （71个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="245" href="javascript:;">会展管理 （49个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="291" href="javascript:;">技术管理 （46个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="242" href="javascript:;">体育管理 （39个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="15" href="javascript:;">电子商务 （20个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="302" href="javascript:;"></a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="246" href="javascript:;">知识管理 （11个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="30" href="javascript:;">医学 （1759个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1759个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="31" href="javascript:;">临床医学 （600个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="44" href="javascript:;">康复医学 （301个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="35" href="javascript:;">护理学 （273个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="37" href="javascript:;">牙医 （136个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="286" href="javascript:;">生物医学 （94个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="36" href="javascript:;">遗传学 （81个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="300" href="javascript:;">生理学 （59个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="32" href="javascript:;">免疫学 （57个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="288" href="javascript:;">兽医 （30个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="33" href="javascript:;">病理学 （23个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="289" href="javascript:;">医院管理 （14个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="254" href="javascript:;">中医药 （10个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="17" href="javascript:;">工程 （1626个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1626个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="27" href="javascript:;">工程管理 （235个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="24" href="javascript:;">电气工程 （161个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="298" href="javascript:;">通信工程 （137个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="22" href="javascript:;">机械工程 （129个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="26" href="javascript:;">土木工程 （127个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="18" href="javascript:;">材料科学与工程 （98个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="252" href="javascript:;">能源与动力工程 （83个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="272" href="javascript:;">生物医学工程 （82个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="23" href="javascript:;">金融工程 （77个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="310" href="javascript:;">纳米技术 （52个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="25" href="javascript:;">航空航天工程 （41个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="28" href="javascript:;">工业工程 （39个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="299" href="javascript:;">交通运输工程 （36个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="19" href="javascript:;">石油工程 （36个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="251" href="javascript:;">环境工程 （31个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="250" href="javascript:;">化学工程 （30个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="297" href="javascript:;">计算机工程 （7个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="73" href="javascript:;">教育 （1613个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1613个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="78" href="javascript:;">高中教育 （313个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="80" href="javascript:;">英语教育 （179个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="83" href="javascript:;">幼儿教育 （89个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="293" href="javascript:;">数学教育 （79个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="76" href="javascript:;">小学教育 （77个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="87" href="javascript:;">教育研究 （70个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="81" href="javascript:;">教育管理 （57个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="77" href="javascript:;">高等教育 （45个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="85" href="javascript:;">特殊教育 （40个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="82" href="javascript:;">教育咨询 （39个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="86" href="javascript:;">体育 （34个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="309" href="javascript:;">教学与学习 （24个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="74" href="javascript:;">师范教育 （17个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="79" href="javascript:;">教育心理学 （16个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="84" href="javascript:;">成人教育 （15个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="304" href="javascript:;">汉语教育 （2个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="75" href="javascript:;">教育技术 （1个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="90" href="javascript:;">课程与教学 （1个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="88" href="javascript:;">人类发展 （1个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="89" href="javascript:;">音乐教育 （1个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="166" href="javascript:;">政治与外交 （1378个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1378个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="169" href="javascript:;">地区研究 （719个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="167" href="javascript:;">国际关系 （485个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="168" href="javascript:;">政治 （211个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="175" href="javascript:;">历史与文化 （1349个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1349个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="176" href="javascript:;">历史 （684个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="177" href="javascript:;">文化 （423个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="179" href="javascript:;">考古学 （169个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="178" href="javascript:;">人类学 （125个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="301" href="javascript:;">东亚研究 （20个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="303" href="javascript:;">中国研究 （19个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="125" href="javascript:;">艺术与设计 （1192个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1192个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="131" href="javascript:;">影视 （273个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="136" href="javascript:;">音乐 （223个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="140" href="javascript:;">建筑学 （153个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="134" href="javascript:;">戏剧 （96个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="135" href="javascript:;">编剧 （61个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="137" href="javascript:;">舞蹈 （50个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="127" href="javascript:;">摄影 （40个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="126" href="javascript:;">绘画 （32个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="144" href="javascript:;">平面设计 （32个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="141" href="javascript:;">服装设计 （29个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="146" href="javascript:;">室内设计 （25个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="128" href="javascript:;">制陶 （15个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="139" href="javascript:;">艺术管理 （14个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="133" href="javascript:;">表演 （11个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="148" href="javascript:;">音响设计 （10个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="130" href="javascript:;">雕塑 （6个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="143" href="javascript:;">灯光设计 （5个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="145" href="javascript:;">工业设计 （5个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="129" href="javascript:;">版画 （4个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="142" href="javascript:;">家具设计 （3个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="147" href="javascript:;">珠宝设计 （3个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="138" href="javascript:;">娱乐管理 （3个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="184" href="javascript:;">法律 （1079个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（1079个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="185" href="javascript:;">LLM法律硕士 （190个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="186" href="javascript:;">JD法律博士 （105个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="294" href="javascript:;">法医/法证 （102个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="188" href="javascript:;">商法 （78个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="189" href="javascript:;">国际法 （70个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="311" href="javascript:;">国际商法 （46个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="187" href="javascript:;">SJD法律博士 （37个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="190" href="javascript:;">金融法 （30个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="296" href="javascript:;">环境法 （26个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="290" href="javascript:;">医疗保健法 （23个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="191" href="javascript:;">知识产权法 （23个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="194" href="javascript:;">劳动法 （14个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="193" href="javascript:;">经济法 （10个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="192" href="javascript:;">海事法 （10个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="196" href="javascript:;">公司法 （9个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="195" href="javascript:;">税法 （4个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="180" href="javascript:;">社会与哲学 （885个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（885个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="183" href="javascript:;">社会学 （470个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="182" href="javascript:;">宗教 （220个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="181" href="javascript:;">哲学 （214个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="170" href="javascript:;">语言与文学 （856个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（856个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="174" href="javascript:;">文学 （355个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="173" href="javascript:;">英语 （348个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="171" href="javascript:;">语言学 （321个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="172" href="javascript:;">翻译 （148个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="264" href="javascript:;">法语 （24个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="255" href="javascript:;">阿拉伯语 （4个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="261" href="javascript:;">拉丁语 （3个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="257" href="javascript:;">希腊语 （2个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="258" href="javascript:;">德语 （2个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="256" href="javascript:;">荷兰语 （2个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="263" href="javascript:;">西班牙语 （2个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="259" href="javascript:;">意大利语 （1个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="262" href="javascript:;">葡萄牙语 （1个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="58" href="javascript:;">传播学 （736个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（736个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="59" href="javascript:;">新闻 （236个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="67" href="javascript:;">公共关系 （83个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="61" href="javascript:;">大众传播 （80个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="306" href="javascript:;">数字媒体 （58个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="60" href="javascript:;">广告 （43个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="64" href="javascript:;">媒体管理 （22个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="66" href="javascript:;">媒体研究 （20个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="63" href="javascript:;">传播研究 （15个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="65" href="javascript:;">新媒体 （15个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="62" href="javascript:;">传播管理 （10个项目）</a></li>
                    </ul>
                  </li>
                  <li><a class="bd_top_list_c bd_top_list_cb major-item-a" data-type="first_id" data-value="68" href="javascript:;">公共事务 （705个项目）</a>
                    <ul>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="0" href="javascript:;">所有（705个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="72" href="javascript:;">社会工作 （238个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="69" href="javascript:;">公共政策 （217个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="70" href="javascript:;">公共管理 （152个项目）</a></li>
                      <li><a class="bd_top_list_c bd_top_list_cb" data-type="parent_id" data-value="71" href="javascript:;">社会政策 （107个项目）</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="advance-search-box">
                <input value="搜索" name="reset_btn" class="home-index-btn" type="submit" >
              </div>
            </form>
          </div>
          <div class="clear"></div>
        </div>
        {template "content","gundong"}
        <?php 
          pc_base::load_sys_class('form', '', 0);
          $list=pc_base::load_model('school_data_model');
          $list1=pc_base::load_model('school_model');
          
          $where="";	
          
          $order = ' rank desc';
          if($_GET[order]=='recommend'){
              $order = " recommend desc";
          }  
          $pages=10;
          $zongshu = $list->query("select id from qu_school_data $where  order by id desc "); 
		  $zongshus = $list->fetch_array($zongshu);
          $infos = $list->listinfo($where,$order,$_GET['page'],$pages); 
		  $pages = $list->pages;//分页
          $nums=count($zongshus);
          $num=ceil($nums/10);
         

       ?>
        
        <p class="zdxx">找到<a>{$nums}</a>家学校</p>
        <!--第三部分-->
        <div class="s-3">
          <div class="top">
            <p>排序<span class="px"><a href="/index.php?m=content&c=index&a=lists&catid=22&order=rank"  {if $_GET['order']==''|| $_GET['order']=='rank'} class="active"{/if}>排名</a><a href="/index.php?m=content&c=index&a=lists&catid=22&order=recommend"  {if $_GET['order']=='recommend'}  class="active"{/if}>热招</a></span><span class="fy"><a><</a> {$_GET[page]}/{$num}<a>></a></span></p>
          </div>
        
      
       {loop $infos $key $val}
          <div class="xxbox">
            <div class="imgbox"><a href="/index.php?m=school&c=show&id={$val['id']}"><img src="{$val['logo']}" /></a>
              <p>已有{$val['dianji']}人免费评估</p>
            </div>
            <div class="nrbox">
              <h2><a href="/index.php?m=school&c=show&id={$val['id']}">{$val['enname']}（{$val['cnname']}）</a></h2>
              <p>位于：{if $val['position']!=''}{$val['position']}{else}无{/if}</p>
              <ul>
                <li>学校排名：<span>{if $val['country']==1}美国{elseif $val['country']==2}英国{elseif $val['country']==3} 加拿大{elseif $val['country']==4}澳大利亚{elseif $val['country']==5}新加坡{elseif $val['country']==6}香港{/if}学校排名-{if $val['rank']>0}{$val['rank']}{else}无{/if}</span></li>
                <li>学校网址：<a ><span>{if $val['weburl']!=''}{$val['weburl']}{else}无{/if}</span></a></li>
                <li>托福成绩：<a ><span>{if $val['toefl_scores']!=''}{$val['toefl_scores']}{else}无{/if}</span></a></li>
                <li>雅思成绩：<a ><span>{if $val['ielts_score']!=''}{$val['ielts_score']}{else}无{/if}</span></a></li>
              </ul>
              <div class="clear"></div>
            </div>
            <div class="plbox">
              <ul>
                <li>私立非盈利，本科学校</li>
                <li>国家综合大学-1</li>
                <li>学校类型：传媒</li>
              </ul>
              <a href="assessment.html"><i class="icon-ok"></i>录取几率免费评估</a>
              <p>已有<span>1{$val['dianji']}</span>人评估</p>
            </div>
            <div class="clear"></div>
            <p class="ck"><i class="icon-caret-right"></i><a href="#">查看更多该校信息>></a></p>
            <div class="clear"></div>
            <div class="clear"></div>
          </div>
          {/loop}
         
       
          <div class="clear"></div>
       </div>
        <!--分页-->
        <div class="pages">{$pages}</div>
        <!--第四部分-->
        <div class="s-4" id="hyp">
          <h1>本周热招院校<a href="#hyp" onclick="javascript:window.top.location.reload()"><i class="icon-refresh"></i>换一批</a></h1>
          
         
         <?php 
          pc_base::load_sys_class('form', '', 0);
          $list=pc_base::load_model('school_data_model');
        
          $data_hot = $list->query("select * from qu_school_data where recommend=1  order by rand() limit 2 "); 
		  $data_hots = $list->fetch_array($data_hot);
        
       ?>
           {loop $data_hots $key $val} 
               
          <div class="gdbox">
            <div class="imgbox"><a href="/index.php?m=school&c=show&id={$val['id']}"><img src="{$val['logo']}" width="104" height="104" /></a></div>
            <div class="nrbox">
              <h2><a href="/index.php?m=school&c=show&id={$val['id']}">{$val['cnname']}</a></h2>
              <p>{$val['enname']}</p>
              <ul>
                <li>录取几率：<span>{$val['odds']}%</span></li>
                <li>大学排名：<span>{$val['rank']}</span></li>
                <li>托福成绩：<span>必须，{$val['toefl_scores']}</span></li>
                <li>SAT成绩：<span>必须，{$val['ielts_score']}</span></li>
              </ul>
              <div class="clear"></div>
            </div>
            <div class="anniu"><a href="#">录取几率免费评估></a></div>
          </div>
         
         {/loop}
        
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <!--右侧-->
      <div class="s-right">
        <ul>
          <li><a href="#">"Qu去留学"</a></li>
          <li><a href="#">QQ群/微信</a></li>
          <li><a href="#">申请留学</a></li>
          <li><a href="#">快速联系我们</a></li>
          <li><a href="#">去留学</a></li>
          <li><a href="#">关注微博微信</a></li>
          <li><img src="/style/picture/ewm.png" /></li>
        </ul>
        <div class="imgbox"><img src="/style/picture/x-1.jpg" /></div>
        <div class="imgbox1"><img src="/style/picture/600.jpg" /></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <!--尾部版权-->
{template "content","bot"}
<!--遮罩层-->
{template "content","login"}
<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="/style/js/search.js"></script><!--搜索--> 
<script type="text/javascript" src="/style/js/cover.js"></script><!--遮罩层--> 
<script type="text/javascript" src="/style/js/jquery-ui-1.js"></script><!--滑块---> 
<script type="text/javascript" src="/style/js/jQAllRangeSliders-min.js"></script> 
<script type="text/javascript" src="/style/js/list.js"></script><!--文本加背景多选--> 
<script type="text/javascript" src="/style/js/jquery.SuperSlide.js"></script><!--消息滚动--> 
<script type="text/javascript">
jQuery(".txtScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,delayTime:700});
</script>
</body>
</html>
