






  <div class="top">
   <p><span style="color:#003A6C;font-weight: bolder;">*</span>共找到 <span style="color:#003A6C;font-weight: bolder;">{$num}</span> 所符合条件的学校</p>
  </div>






<!--{loop $school_list $key $val}



<div class="xxbox">



  <div class="imgbox"><a href="/index.php?m=school&c=show&id={$val['id']}"><img src="{$val['logo']}" /></a>



    <p>已有{$val['dianji']}人免费评估</p>



  </div>



  <div class="nrbox">



    <h2><a href="/index.php?m=school&c=show&id={$val['id']}">{$val['enname']}（{$val['cnname']}）</a></h2>



    <p>位于：{if $val['position']!=''}{$val['position']}{else}无{/if}</p>



    <ul>



      <li>学校排名：<span>{if $val['country']==1}美国{elseif $val['country']==2}英国{elseif $val['country']==3} 加拿大{elseif $val['country']==4}澳大利亚{elseif $val['country']==5}新加坡{elseif $val['country']==6}香港{/if}学校排名-{if $val['rank']>0}{$val['rank']}{else}无{/if}</span></li>



      <li>学校网址：<a ><span>{if $val['weburl']!=''}{$val['weburl']}{else}无{/if}</span></a></li>



      <li>托福成绩：<a ><span>{if $val['toefl_scores']!=''}{$val['toefl_scores']}{else}无{/if}</span></a></li>



      <li>雅思成绩：<a ><span>{if $val['ielts_score']!=''}{$val['ielts_score']}{else}无{/if}</span></a></li>



      <li {if $_GET[type]==2}style="display:none;"{/if}>专业：<a > {loop explode(",",$val['professional']) $k $v} <span> <?php echo jiamian_name($v)?> </span> {/loop} </a></li>



    </ul>



    <div class="clear"></div>



  </div>



  <div class="plbox"> <a href="/index.php?m=content&c=index&a=lists&catid=40"><i class="icon-ok"></i>录取几率免费评估</a>



    <p>已有<span>1{$val['dianji']}</span>人评估</p>



  </div>



  <div class="clear"></div>



  <p class="ck"><i class="icon-caret-right"></i><a href="/index.php?m=school&c=show&id={$val['id']}">查看更多该校信息>></a></p>



  <div class="clear"></div>



  <div class="clear"></div>



</div>



{/loop}



<div class="pages">{$pages}</div> -->



{if $num<1}<p style="text-align:center; line-height:40px;padding:10px 0px;"><img src="style/images/2.png" widht="40px;" height="40px" style="padding:0px 10px;vertical-align: middle;"/>共找到 0 所符合条件的学校</p>{/if}



{loop $school_list $key $val}



 <div class="xxbox">



            <div class="imgbox"><a href="/index.php?m=school&c=show&id={$val['id']}"><img src="{$val['logo']}" /></a>



              <p>已有{$val['dianji']}人免费评估</p>



            </div>



            <div class="nrbox">



              <div class="c-box">



                <h2><a href="/index.php?m=school&c=show&id={$val['id']}">{$val['enname']}（{$val['cnname']}）</a></h2>



                <p>学校排名：{if $val['rank']!=''}{$val['rank']}{else}无{/if}</p>



				<p>位于：{if $val['position']!=''}{$val['position']}{else}无{/if}</p>



				



			<!--   　学校网址：{if $val['weburl']!=''}{$val['weburl']}{else}无{/if} -->	



                <p class="ck"><a href="/index.php?m=school&c=show&id={$val['id']}">查看更多该校信息>></a></p>



              </div>



              <div class="plbox"> <a href="/index.php?m=content&c=index&a=lists&catid=40"><i class="icon-ok"></i>录取几率免费评估</a>



                <p>已有<span>{$val['dianji']}</span>人评估</p>



              </div>



              <div class="clear"></div>



              <div class="cc">



                <ul>



                <?php 



              



                $zhuanyess=$new_professional;



                



                ?>



                 {loop $zhuanyess $k $v} 



                


                
                 <?php
                
                 pc_base::load_sys_class('form','',0);



                 $list1=pc_base::load_model('professional_data_model');



		         $list2=pc_base::load_model('school_professional_data_model');



		         $rs = $list2->query("SELECT  a.content,b.id,b.direction_cnname,b.direction_enname,b.direction_style  FROM qu_professional_data a,qu_school_professional_data b where a.professional_id=b.direction_pid and b.direction_pid='".$v."' and b.direction_school_id='".$val['id']."'  ORDER BY b.id DESC");



                 $data = $list2->fetch_array($rs);



                  



                 ?>



                  {loop $data $k_all $v_all} 



                  



                  <li>



                    <h3><i class="icon-caret-right"></i><a href="/index.php?m=school&c=show&a=show_c&id=<?php echo $val['id'];?>&cid=<?php echo $v_all[id]?>"><?php echo $v_all[direction_enname]?></a></h3>



                    <p>学位：<?php echo $v_all[direction_style]?>&nbsp;&nbsp;专业类别：<?php echo $v_all[content]?>

                    </p>



                  </li>



                  {/loop}



                  {/loop} 



                 </ul>



                <div class="clear"></div>



                



             <!--   <div class="gdbox">



                  <p><a href="#s-3" class="gd">查看更多</a></p>



                </div> -->



               



              </div>



              <div class="clear"></div>



            </div>



            <div class="clear"></div>



          </div>



{/loop}          



<div class="pages">{$pages}</div>