<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="/style/css/form.css" type="text/css">
<link rel="stylesheet" href="/style/font-awesome/css/font-awesome.min.css" type="text/css">
</head>
<body>
<div id="wrapper"> 
  <!-- 头部 -->
 {template "content","top"}
  <!-- 头部结束 --> 
  <!--院校搜索上部-->
  <div class="reporttitle">
    <h2>我要吐嘈黑中介</h2>
  </div>
  <!--主要内容--->
  <div class="content w-1000"> 
    <!--当前位置-->
    <div class="weizi">
      {template "content","position"}
    </div>
    <!--我要吐嘈黑中介-->
    <div  class="b-box"> 
      <!--左侧-->
      <div class="b-left">
        <div class="m-form">
          <h1>我要吐嘈黑中介</h1>
          <p>您正在通过"Qu去留学“网吐嘈<span>北京嘉华世达国际教育交流有限公司(嘉华世达）;</span></p>
          <form action="" method="get">
            <ul>
              <li><span>吐嘈原因：</span>
                <textarea name="textarea" id="textarea" cols="45" rows="5" ></textarea>
                <div class="clear"></div>
              </li>
              <li><span>姓名：</span>
                <input type="text" name="" />
                <div class="clear"></div>
              </li>
              <li><span>电话：</span>
                <input type="text" name="" />
                <div class="clear"></div>
              </li>
              <li><span>短信验证码：</span>
                <input type="text" name=""  class="input1"/>
                <a href="#" class="anniu">免费获取短信激活码</a>
                <div class="clear"></div>
              </li>
              <li class="l1"><a href="#" class="anniu1">立即吐嘈</a>
                <div class="clear"></div>
              </li>
            </ul>
          </form>
        </div>
        <div class="clear"></div>
      </div>
      <!--右侧-->
      <div class="s-right">
        <ul>
          <li><a href="#">"Qu去留学"</a></li>
          <li><a href="#">QQ群/微信</a></li>
          <li><a href="#">申请留学</a></li>
          <li><a href="#">快速联系我们</a></li>
          <li><a href="#">去留学</a></li>
          <li><a href="#">关注微博微信</a></li>
          <li><img src="picture/ewm.png" /></li>
        </ul>
        <div class="imgbox"><img src="picture/x-1.jpg" /></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--尾部版权-->
{template "content","bot"}
<!--遮罩层-->
{template "content","login"}
<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="/style/js/search.js"></script><!--搜索--> 
<script type="text/javascript" src="/style/js/cover.js"></script><!--遮罩层--> 
<script type="text/javascript" src="/style/js/jquery.SuperSlide.js"></script><!--轮播图--> 
<script type="text/javascript">
		jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
</script>
</body>
</html>
