<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="/style/css/agency.css" type="text/css">
<link rel="stylesheet" href="/style/font-awesome/css/font-awesome.min.css" type="text/css">
</head>
<body>
<div id="wrapper"> 
  <!-- 头部 -->
  {template "content","top"}
  <!-- 头部结束 --> 
  <!--留学保保计划上部-->
  <div class="reporttitle">
    <h2>留学中介</h2>
  </div>
  <!--主要内容--->
  <div class="content w-1000"> 
    <!--当前位置-->
   <div class="weizi">
      <p>当前位置：<a href="/">Qu去留学首页</a> > <a>留学保保计划</a> > </p>
    </div>


    <!--留学保保计划左侧-->
    <div class="an-left"> 
      <!--留学保保计划-->
      <div class="an-6">
        <h1>{$title}</h1>
        <p>{$content}</p>
      </div>
      <div class="clear"></div>
    </div>
    <!--右侧-->
    <div class="an-right">
      <div class="an-7">
        <h1>"留学保保”计划</h1>
        <ul>
        {pc:content  action="lists" catid="18" order="inputtime DESC" num="20"} 
        
         {loop $data $key $val}
         <li {if $val['id']==$id}class="active"{/if}><a href="{$val['url']}"><i class="icon-caret-right"></i>{str_cut($val['title'],40)}</a></li>
        
         
         {/loop}
        {/pc} 
        </ul>
      </div>
      <div class="zxzx"><a href="tencent://message/?uin=3097401794&Site=&Menu=yes"  target="_blank"><i class="icon-circle-arrow-right"></i>在线咨询</a></div>
      
      {pc:get sql="SELECT * FROM qu_page where catid=31"}
{loop $data $key $val}
{$val[content]}
{/loop}
{/pc}
    </div>
    <div class="clear"></div>
  </div>
  <!--尾部版权-->
   {template "content","bot"}

<!--遮罩层-->
{template "content","login"}
<script type="text/javascript" src="/style/js/jquery-1.8.3.min.js"></script> 
<script type="text/javascript" src="/style/js/search.js"></script><!--搜索--> 
<script type="text/javascript" src="/style/js/cover.js"></script><!--遮罩层-->
</body>
</html>
